#boxLogin {
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.boxFlex {
	background: rgba(170, 170, 170, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
